*.txt
.DS_Store

.gradle/
gradle/
build/

!gradle-wrapper.jar

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Gradle:
.idea/gradle.xml
.idea/libraries


